.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @include flex(row);
  .left {
    width: 25%;
    height: 100%;
    background: black;
    color: white;
    padding-top: 20px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  .img-wrapper {
    width: 500px;
    height: 270px;
    position: absolute;
    display: block;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 30px;
    .img-inner-wrapper {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .right {
    width: 75%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 30%;
    .txt-wrapper {
      position: absolute;
      height: 200px;
      overflow: auto;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        font-size: 60px;
      }
    }
    .right-overlay {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: black;
    }
  }

  .burger {
    position: fixed;
    display: block;
    top: 4%;
    right: 4%;
    z-index: 11;
    display: none;
    div {
      width: 25px;
      height: 2px;
      background: white;
      margin: 4px;
    }
  }
  .nav-links {
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: black;
    @include flex(column);
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 40px;
    clip-path: circle(24px at 94.7% 5.5%);
    display: none;
  }
}
